@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

a,
span {
    display: inline-block;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.brown {
    color: #bf4a1a;
}

h1 {
    font-size: 100px;
}

h1,
h2 {
    font-family: "Oswald", sans-serif;
}

.hero-des {
    font-size: 60px;
}

ul li {
    list-style: none;
}

ul li a:hover {
    color: #148b91 !important;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
}

.logo1 {
    color: #148b91;

}

.logo2 {
    color: #bf4a1a;

}

.hr {
    width: 50px;
    border: 3px solid #bf4a1a;
    border-radius: 20px;
    margin: 18px auto;
    opacity: 100%;
}


nav a {
    color: black !important;
    font-size: 30px;

}

.gray {
    color: gray;
}

.about-icon {
    background-color: #bf4a1a;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}




.hero-social {
    border-radius: 10px;
    top: 30%;
    left: -7%;
}

.hero-social i {
    color: black;
    font-size: 25px;
    padding: 10px;
}

.hero-social>div>div:hover {
    background-color: #148b91;
}

header {
    background-color: #f4f3ec;
    min-height: 100vh;
    padding: 30px;
}

.home-hero {
    padding: 50px 0px 0px 0px;
}

.heading {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.small-heading {
    color: #bf4a1a;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.about-para {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 70px;
    color: gray;
}

#about {
    padding: 100px 0px 100px;
    background-image: url(../img/about.bg.png);
    background-size: cover;
    background-color: #f4f3ec;

}

#projects {
    padding: 120px 0px;
    background-color: #f4f3ec;

}

.skill {
    font-size: 28px;
    font-weight: 700;
}





.im-parent {
    cursor: pointer;
    box-shadow: 0px 0px 6px 0px rgba(128, 128, 128, 0.27);
}

.port-info {
    background-color: rgba(0, 0, 0, 0.696);
    color: white;
    bottom: 0px;
    left: 35px;
    width: 90%;
    opacity: 0;
    transition: all 0.5s ease;
}

.port-info i {
    font-size: 40px;
}

.port-info i:hover {
    color: green;
}

.im-parent {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.345);
}

.im-parent:hover .port-info {
    opacity: 1;
    transform: translatey(-10px);
}

.text-org {
    color: #148b91;
    font-size: 15px;
}



/* footer start */

footer {
    background-color: rgb(40, 40, 40);
    padding: 100px 0px 30px;
    border-radius: 50px 50px 0px 0px;
    color: white;
}

footer i {
    color: white;
    font-size: 18px;
}

.foot-icon a {
    border: 2px solid #bf4a1a;
    background-color: #bf4a1a;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.foot-icon a:hover {
    border-color: white;
}

.foot-contact {
    display: flex;
    border-top: 1px solid #bf4a1a;
    margin-top: 50px;
    justify-content: center;
    gap: 60px;
    color: gray;
}


/* footer end */




/* skills section start*/

#skills {
    padding: 10px 0px 50px;
    background-color: rgb(40, 40, 40);
    color: white;
}

.skills-icon div {
    height: 80px;
    width: 100px;
}


/* skills section end */





/* service section start */


#services {
    padding: 50px 0px 100px 0px;
    background-color: rgb(40, 40, 40);

}

.service-card {
    width: 350px;
    height: 550px;
    border-radius: 25px;
    background-color: rgb(40, 40, 40);
}

.service-card a {
    color: white;
}

.service-card a:hover {
    background-color: #bf4a1a;
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
}


.shadow-service:hover {
    box-shadow: 0px 0px 15px 5px rgba(128, 128, 128, 0.308);
    background-color: #08393a;
}

.shadow-service {
    border: none;
}

/* service section end */


/* hero card start */

.hero-card {
    border-radius: 25px;
}

.hero-card a {
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 10px;
}

.hero-card a:hover {
    border-color: #148b91;
    background-color: rgba(128, 128, 128, 0.036);
}

.hero-card i {
    color: black;
    font-size: 25px;
}


/* hero card end */


/* contact form start */

#contact {
    padding: 100px 0px;

}

#contactForm {
    background-color: #f4f3ec;
}

.contact-form {
    background-color: #f4f3ec;
}

.contact-form textarea {
    background-color: #f4f3ec;
}

.contact-form input {
    background-color: #f4f3ec;
}


/* contact form end */

/* @media (max-width: 560px) {
    h1 {
        font-size: 45px
    }

    .hero-des {
        font-size: 40px;
    }

    .home-hero p {
        display: none;
    }

    .hero-img {
        width: 400px;
    }

    .hero-social div {
        display: none;
    }

.home-hero .row{ flex-direction: column; align-items: center; justify-content: space-around;}

} */